* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img { width: 50px; aspect-ratio: 1;}

li {
    list-style: none;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 1rem;
}

body {
    font-size: 16px;
    display: grid;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: max-content max-content;
    background-color: #ccc;
}

body * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar {
    background-color: rgb(190, 116, 151); 
    grid-area: sidebar; 
    display: grid;
    grid-template-areas:
        "title"
        "main-nav"
        "support-nav";
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content;
    gap: 3rem;
    min-height: 100dvh;
    color: #fff;
    font-size: 1.4em;
    font-weight: 600;
    padding: 1rem;
} 

.nav-title {
    display: grid;
    align-items: center;
    grid-template-columns: max-content 1fr;
    font-size: 1.25em;
    gap: 0.5ch;
}

.logo {
   width: 2em; 
}

.icon {
    width: 1.5em;
}

.main-nav {
    grid-area: main-nav;
}

.support-nav {
    grid-area: support-nav;
}

.main-nav, .support-nav {
    padding-left: 0.75rem;
}

nav ul {
    display: grid;
    gap: 1rem;
}

.main { 
    grid-area: main; 
    display: grid;
    grid-template-areas:
        "projects announcements"
        "projects trending";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2.5rem;
    padding: 2rem;
}  

.projects {
    grid-area: projects;
    display: grid;
    grid-template-areas:
        "title" 
        "container";
    grid-template-columns: 1fr;
    grid-template-rows: 1.5em;
    grid-auto-rows: 1fr;
    gap: 1rem;
}

.card-container {
    grid-area: container;
    display: grid;
    grid-template-areas: "card card";
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1.5rem;
}

.announcements {
    grid-area: announcements;
    display: grid;
    grid-template-areas: 
        "title"
        "card";
    grid-template-columns: 1fr;
    grid-template-rows: 2.5em;
    grid-auto-rows: 1fr;
}

.announcements .card, .trending .card {
    align-items: center;
}

.not-end {
    padding-bottom: 1rem;
    border-bottom: 1px solid #cec;
}

.trending {
    grid-area: trending;
    display: grid;
    grid-template-areas: 
        "title"
        "card";
    grid-template-columns: 1fr;
    grid-template-rows: 2.5em;
    grid-auto-rows: 1fr;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 2rem;
}

.trending-card {
    display: grid;
    grid-template-areas: 
        "avatar handle"
        "avatar desc";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.handle {
    grid-area: handle;
}

.handle-desc {
    grid-area: desc;
}

.avatar-sm {
    grid-area: avatar;
}

.card-container .card {
    border: 8px solid white;
    border-left: 8px solid orange;
    grid-template-areas:
        "title title title title"
        "card-content card-content card-content card-content"
        "BLANKSPACE fav follow git";
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

.fav {
    grid-area: fav;
}

.follow {
    grid-area: follow;
}

.git {
    grid-area: git;
}

.card-content {
    grid-area: card-content;
}

.title {
    grid-area: title;
}

.header { 
    grid-area: header; 
    display: grid;
    grid-template-areas: 
        "search cluster"
        "herald controls";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(max-content, 1fr) minmax(max-content, 1fr);
    padding: 1rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} 

.herald {
    grid-area: herald;
    display: grid;
    grid-template-areas: 
        "avatar greet"
        "avatar name";
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.avatar-lg {
    grid-area: avatar;
}

.herald p {
    grid-area: greet;
}

.herald h1 {
    grid-area: name;
}

.search-cluster {
    grid-area: search;
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
}

.notif-cluster {
    grid-area: cluster;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    align-items: center;    
}

.controls {
    grid-area: controls;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

button {
    background-color: blue;
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 2em;
    padding: 0.75rem 3rem;
}
