* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img { width: 50px; aspect-ratio: 1;}

li {
    list-style: none;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 1rem;
}

body {
    font-size: 16px;
    display: grid;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: max-content max-content;
    background-color: #ccc;
}

body * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar {
    background-color: rgb(190, 116, 151); 
    grid-area: sidebar; 
    display: grid;
    grid-template-areas:
        "title"
        "main-nav"
        "support-nav";
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content max-content;
    gap: 3rem;
    min-height: 100dvh;
    color: #fff;
    font-size: 1.4em;
    font-weight: 600;
    padding: 1rem;
} 

.nav-title {
    display: grid;
    align-items: center;
    grid-template-columns: max-content 1fr;
    font-size: 1.25em;
    gap: 0.5ch;
}

.logo {
   width: 2em; 
}

.icon {
    width: 2rem;
    aspect-ratio: 1/1;
}

.main-nav {
    grid-area: main-nav;
}

.support-nav {
    grid-area: support-nav;
}

.main-nav, .support-nav {
    padding-left: 0.75rem;
}

nav ul {
    display: grid;
    gap: 1rem;
}

.main { 
    grid-area: main; 
    display: grid;
    grid-template-areas:
        "projects announcements"
        "projects trending"
        "projects blank";
    grid-template-columns: 5fr 2fr;
    grid-template-rows: min-content min-content 1fr;
    gap: 2.5rem;
    padding: 2rem;
}  

.projects {
    grid-area: projects;
    display: grid;
    grid-template-areas:
        "title" 
        "container";
    grid-template-columns: 1fr;
    grid-template-rows: 1.5em;
    grid-auto-rows: 1fr;
    gap: 1rem;
}

.card-container {
    grid-area: container;
    display: grid;
    grid-template-areas: "card card";
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1.5rem;
}

.announcements {
    grid-area: announcements;
    display: grid;
    grid-template-areas: 
        "title"
        "card"
        "card"
        "card";
    grid-template-columns: 1fr;
    grid-template-rows: 2.5em;
    grid-auto-rows: max-content;
}

.announcement-card {
    padding: 1.5rem 0;
}

.not-end {
    border-bottom: 1px solid #cec;
}

.trending {
    grid-area: trending;
    display: grid;
    grid-template-areas: 
        "title"
        "card"
        "card"
        "card"
        "card";
    grid-template-columns: 1fr;
    grid-template-rows: 2.5em;
}

.trending .card {
    align-items: center;
    gap: 2rem;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 2rem;
}

.trending-card {
    display: grid;
    grid-template-areas: 
        "avatar handle"
        "avatar desc";
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.25rem;
}

.trending-card .avatar-sm {
    width: 80px;
    justify-self: center;
    margin: 0 1rem;
    border-radius: 50%;
}

.handle {
    grid-area: handle;
    align-self: end;
    font-weight: 900;
    font-size: 1.2em;
}

.handle-desc {
    grid-area: desc;
    align-self: start;
}

div .avatar-sm {
    grid-area: avatar;
}

.card-container .card {
    border: 8px solid white;
    border-left: 8px solid orange;
    grid-template-areas:
        "title title title title"
        "card-content card-content card-content card-content"
        "BLANKSPACE fav follow git";
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: max-content 1fr max-content;
    font-size: 1.2em;
    max-width: 75ch;
    line-height: 1.5em;
    gap: 1rem;
}

.fav {
    grid-area: fav;
    justify-self: end;
}

.follow {
    grid-area: follow;
    justify-self: end;
}

.git {
    grid-area: git;
    justify-self: end;
}

.card-content {
    grid-area: card-content;
    padding: 0 0.25rem;
}

.title {
    grid-area: title;
}

.header { 
    grid-area: header; 
    display: grid;
    grid-template-areas: 
        "search cluster"
        "herald controls";
    grid-template-columns: 7fr 3fr;
    grid-template-rows: max-content;
    padding: 1.5rem 4rem 3rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 2rem;
} 

.herald {
    grid-area: herald;
    display: grid;
    grid-template-areas: 
        "avatar greet"
        "avatar name";
    grid-template-columns: 8rem 1fr;
    grid-template-rows: 1fr 2fr;
}

.avatar-lg {
    grid-area: avatar;
    width: 7rem;
}

.herald p {
    grid-area: greet;
    font-size: 1.5rem;
    font-weight: 300;
    align-self: end;
}

.herald h1 {
    grid-area: name;
    font-size: 3rem;
    font-weight: 300;
}

.search-cluster {
    grid-area: search;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 1rem;
}

input[type="search"] {
    width: 100%;
    background-color: #eee;
    padding: 0.5rem 1rem;
    border-radius: 50em;
    border: none;
}

.notif-cluster {
    grid-area: cluster;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.notif-cluster .avatar-sm {
    width: 6ch;
    justify-self: center;
    align-self: end
}

.notif-cluster .icon {
    justify-self: end
}

.notif-cluster span {
    justify-self: start;
    font-weight: 900;
}

.controls {
    grid-area: controls;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: clamp(1px, 1em, 4em);
}

button {
    background-color: blue;
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 2em;
    padding: 0.75rem 3rem;
}
